<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ActivityDAO">
    <resultMap type="com.bean.Activity" id="BaseResultMap">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="title" property="title" jdbcType="VARCHAR"/>
      <result column="savetime" property="savetime" jdbcType="VARCHAR"/>
      <result column="filename" property="filename" jdbcType="VARCHAR"/>
      <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>
    
    <select id="selectAll" parameterType="HashMap" resultMap="BaseResultMap">
      select * from activity where 1=1 
      <if test="key!=null and key!=''">
        and title like "%"#{key}"%"
      </if>
      order by id desc
    </select>
    
    <insert id="add" parameterType="com.bean.Activity">
      insert into activity values(null,#{title},#{savetime},#{filename},#{content})
    </insert>
    
    <update id="update" parameterType="com.bean.Activity">
      update activity
      <set>
        <if test="title!=null and title!=''">
          title=#{title},
        </if>
        <if test="filename!=null and filename!=''">
          filename=#{filename},
        </if>
        <if test="content!=null and content!=''">
          content=#{content},
        </if>
      </set>
      where id=#{id}
    </update>
    
    <select id="findById" parameterType="com.bean.Activity" resultType="com.bean.Activity">
      select * from activity where id=#{id}
    </select>
    
    <delete id="delete" parameterType="Int">
      delete from activity where id=#{id}
    </delete>
    
    
	
</mapper>

